<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USAR Movie Recommendation</title>
    <!-- <link rel="stylesheet" href="../assets/css/get_started.css"> -->
    <link rel="stylesheet" href="/recommend_movie/assets/css/get_started.css">

</head>

<body>
    <div class="hero">
        <div class="overlay"></div>
        <div class="content">
            <h1>USAR Movie Recommendation</h1>
            <!-- <a href="../views/signup_page_1.html" class="get-started-btn">Get Started →</a> -->
            <a href="/recommend_movie/views/signup_page_1.html
            " class="get-started-btn">Get Started →</a>
        </div>
    </div>
</body>
</html>
